<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIyvJkJwWZ9EdtkHJFtIJkr7FpSgkzefk</string>
	<key>GCM_SENDER_ID</key>
	<string>1010906701693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>strength.net.in</string>
	<key>PROJECT_ID</key>
	<string>strength-8cf5f</string>
	<key>STORAGE_BUCKET</key>
	<string>strength-8cf5f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010906701693:ios:d016a652c55b3b10713614</string>
</dict>
</plist>